<div class="data">
    <div class="user-data">
        <div class="user-data-name">{{target.name}}</div>
        <img class="user-data-avatar" src="{{target.avatar}}" alt="{{target.name}}">
        <div class="user-status">
            <div class="user-status-text {{target.status}}-status" id="status-data">{{target.status}}</div>
        </div>
    </div>
</div>
<div class="chat">
    <div class="chat-messages">
        {{#each messages}}
        <div class="chat-message {{#if this.isOwn}}own{{/if}}">
            <div class="chat-message-text">
                <p class="chat-message-text-paragraph id-{{this.user_id}}">
                    <img class="chat-message-text-avatar" src="{{this.avatar}}" alt="{{this.name}}"
                        onclick="location.replace(" /")">
                    <b>{{this.username}}</b>:
                    <content id="cnt-{{this.id}}">
                        {{{this.content}}}
                    </content>
                </p>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="chat-input">
        <input type="text" class="chat-input-text" placeholder="Envia un mensaje a @{{target.username}}"
            autocomplete="off" autofocus id="chat-input-text">
        <button type="button" class="chat-input-button" id="chat-input-button">
            <i class="fas fa-paper-plane"></i>
        </button>
        <label class="switch" id="ai-label">
            <input type="checkbox" class="chk" id="ai-input-btn">
            <span class="slider"></span>
        </label>
        <!-- Voice input -->
        <button type="button" class="chat-input-button" id="voice-input">
            <i class="fas fa-microphone"></i>
        </button>
    </div>
</div>
<div id="back-to-top">
    <i class="fas fa-arrow-up"></i>
</div>
<div id="back-to-bottom">
    <i class="fas fa-arrow-down"></i>
</div>
<script>
    let ai_status = false;
    let unreadMessages = 0;
    let userStatus = "{{target.status}}";
    let ai_msg_id = 0;
    let gotTyping = false;
    let aiTyping = false;
    if ("{{target.id}}" == "0") {
        $("#ai-label").remove();
    }
    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('#back-to-top').fadeIn();
            $('#back-to-bottom').fadeOut();
        } else {
            $('#back-to-top').fadeOut();
            $('#back-to-bottom').fadeIn();
        }
    });
    $('#back-to-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
        return false;
    });
    /*$(window).scroll(function () {
        if ($(this).scrollTop() < 50) {
            $('#back-to-bottom').fadeIn();
        } else {
            $('#back-to-bottom').fadeOut();
        }
    }); */
    $('#back-to-bottom').click(function () {
        $('body,html').animate({
            scrollTop: $(document).height()
        }, 500);
        return false;
    });
    $('#back-to-bottom').css({
        'position': 'fixed',
        'bottom': '0',
        'right': '0',
        'width': '50px',
        'height': '50px',
        'background-color': '#fff',
        'border-radius': '50%',
        'cursor': 'pointer',
        'display': 'none',
        'z-index': '9999',
        'text-align': 'center',
    });
    $('#back-to-top').css({
        'position': 'fixed',
        'top': '0',
        'right': '0',
        'width': '50px',
        'height': '50px',
        'background-color': '#fff',
        'border-radius': '50%',
        'cursor': 'pointer',
        'display': 'none',
        'z-index': '9999',
        'text-align': 'center',
    });
    socket.emit("set-chat", "{{target.id}}");
    $(".chat-input-text").keypress(function (e) {
        if (e.which == 13) {
            $("#chat-input-button").click();
        }
    });
    $("#chat-input-button").click(async function () {
        const text = $(".chat-input-text").val();
        if (text.length > 0) {
            $(".chat-input-text").val('');
            $(".chat-messages").append(`
                <div class="chat-message own">
                    <div class="chat-message-text">
                        <p class="chat-message-text-paragraph">
                            <img class="chat-message-text-avatar" src="{{user.avatar}}" alt="{{user.name}}">
                            <b>{{user.username}}</b>: ${await utils.parseMD(utils.removeXSS(text))}</p>
                    </div>
                </div>
            `);
            window.scrollBy(0, 230);
            const response = await fetch('/api/users/{{target.id}}/messages', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "authorization": "User {{user.id}}"
                },
                body: JSON.stringify({ content: text })
            });
            if (response.status > 399) {
                displayModal("Error", `No pudimos enviar tu mensaje, actualiza la página e inténtalo de nuevo.`);
                return;
            }
            console.log("WebSocketManager: Message stored, sending to server through socket...");
            socket.emit("message", {
                content: utils.removeXSS(text),
                target: '{{target.id}}',
                user: '{{user.id}}'
            });
            console.log("WebSocketManager: Message sent to server through socket.");
            if (ai_status) {
                socket.emit("ai", {
                    content: utils.removeXSS(text),
                    target: '{{target.id}}',
                    user: '{{user.id}}'
                });
            }
        }
        else {
            displayModal("Error", "Cannot send an empty message");
        }
    });
    $(".user-data").click(function () {
        $(".chat-input-text").focus();
    });
    socket.on("message", async function (data) {
        console.log("WebSocketManager: Message received from server.");
        if (data.user.username !== "BarnieBot") {
            $(".chat-messages").append(`
            <div class="chat-message">
                <div class="chat-message-text">
                    <p class="chat-message-text-paragraph">
                        <img class="chat-message-text-avatar" src="${data.user.avatar}" alt="${data.user.name}">
                        <b>${data.user.username}</b>: ${await utils.parseMD(utils.removeXSS(data.content))}
                    </p>
                </div>
            </div>
        `);
        }
        else {
            $(".chat-messages").append(`
            <div class="chat-message">
                <div class="chat-message-text">
                    <p class="chat-message-text-paragraph" id="ai-${ai_msg_id}">
                        <img class="chat-message-text-avatar" src="${data.user.avatar}" alt="${data.user.username}">
                        <b>${data.user.username}</b>: <content></content>
                    </p>
                </div>
            </div>
        `);
            $("#chat-input-text").attr("disabled", true);
            aiTyping = true;
            await (async () => {
                return new Promise(async (resolve, reject) => {
                    let currentIndex = 0;
                    const i = setInterval(async () => {
                        if (currentIndex >= data.content.length - 1) {
                            $(`#ai-${ai_msg_id} content`).html(data.content);
                            document.getElementById("chat-input-text").disabled = false;
                            updateAiTyping(false);
                            resolve();
                            clearInterval(i);
                            return;
                        }
                        else {
                            const current = data.content.slice(0, currentIndex);
                            $(`#ai-${ai_msg_id} content`).html(current);
                            currentIndex += 1;
                        }
                    }, 5);
                });
            })();
            console.log("TYPING DONE");
            $(`#ai-${ai_msg_id} content`).html(data.content);
            hljs.highlightAll();
            ai_msg_id++;
        }
        window.scrollBy(0, 230);
        if (!utils.windowFocused()) {
            unreadMessages++;
            utils.changeTitle(`(${unreadMessages < 10 ? unreadMessages : '+9'}) {{target.username}}`);
            utils.displayNotification(`{{target.username}}`, `${data.content}`, null, data.user.avatar);
            utils.playSound("/audio/new_message.mp3");
        }
    });
    $("#ai-input-btn").change(function () {
        if (ai_status) {
            ai_status = false;
            displayModal("Sucess", "La IA ha sido desactivada.");
        }
        else {
            ai_status = true;
            displayModal("Sucess", "La IA ha sido activada.");
        }
    });
    $("#voice-input").click(async function () {
        $("#chat-input-text").attr("disabled", true);
        const result = await utils.getVoiceInput();
        if (result) {
            $(".chat-input-text").val(result);
            $("#chat-input-button").click();
        }
        $("#chat-input-text").attr("disabled", false);
    });
    window.addEventListener("focus", () => {
        const lastUnread = unreadMessages;
        unreadMessages = 0;
        utils.changeTitle(`{{target.username}}`);
        if (lastUnread > 0) $(".chat-input-text").focus();
        focused = true;
    });
    function updateAiTyping(status) {
        aiTyping = status;
    }

    setInterval(() => {
        $("#chat-input-text").attr("disabled", aiTyping);
        console.log(aiTyping);
    }, 1000);
    socket.on("typing", function (data) {
        if (!data.isTyping) {
            $("#typing").remove();
            gotTyping = false;
            return;
        }
        if ($("#typing").length > 0) {
            $("#typing").remove();
        }
        $(".chat-messages").append(`
            <div id="typing" class="chat-message typing-animation">
                <div class="chat-message-text">
                    <p class="chat-message-text-paragraph">
                        <img class="chat-message-text-avatar" src="${data.user.avatar}" alt="${data.user.name}">
                        <b>${data.user.username}</b> está escribiendo...
                    </p>
                </div>
            </div>
        `);
        if (!gotTyping) window.scrollBy(0, 230);
        if (!gotTyping) gotTyping = true;
    });
    socket.on("check-input", () => {
        socket.emit("check-input-response", {
            target: '{{target.id}}',
            user: '{{user.id}}',
            content: $(".chat-input-text").val()
        });
    });
    socket.on("status", data => {
        if (String(data.user.id) !== '{{target.id}}') {
            return;
        }
        if (data.status === "online") {
            $(".user-status-text").text("online");
            userStatus = "online";
            console.log(`WebSocketManager: Received status: ${data.status}`);
        } else {
            $(".user-status-text").text("offline");
            userStatus = "offline";
            console.log(`WebSocketManager: Received status: ${data.status}`);
        }
        document.getElementById("status-data").className = `user-status-text ${userStatus}-status`;
    });
</script>
<style>
    .chat {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .chat-messages {
        flex: 1;
        overflow-y: auto;
    }

    .chat-message {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #f5f5f5;
    }

    .chat-message-text {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
    }

    .own {
        background-color: #e5e5e5;
        flex-direction: row-reverse;
        position: relative;
    }

    .chat-message-text-paragraph {
        margin: 0;
    }

    .chat-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        background-color: #f5f5f5;
    }

    .chat-input-text {
        flex: 0.4;
        border: none;
        outline: none;
        font-size: 16px;
        padding: 10px;
        left: 10px;
    }

    .user-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        background-color: #f5f5f5;
    }

    .user-data:hover {
        background-color: #e5e5e5;
    }

    .user-data-name {
        font-size: 16px;
        margin-right: 10px;
    }

    .user-data-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user-status {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        background-color: #f5f5f5;
    }

    .user-status-text {
        font-size: 16px;
        margin-right: 10px;
    }

    .chat-input-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f5f5f5;
        border: none;
        outline: none;
    }

    .chat-input-button:hover {
        background-color: #e5e5e5;
    }

    .chat-message-text-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .fixed-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .offline-status {
        color: #ff0000;
    }

    .online-status {
        color: #00ff00;
    }

    .typing-status {
        color: #363535;
    }

    /* The switch - the box around the slider */
    .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 1.2em;
        height: 3.3em;
    }

    /* Hide default HTML checkbox */
    .switch .chk {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 5px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: .5em;
        width: 2.4em;
        border-radius: 5px;
        left: -0.6em;
        top: 0.2em;
        background-color: white;
        box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
        transition: .4s;
    }

    .slider:before,
    .slider:after {
        content: "";
        display: block;
    }

    .slider:after {
        background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
            repeating-linear-gradient(90deg, rgb(255, 255, 255) 0, rgb(255, 255, 255), rgb(255, 255, 255) 20%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
            radial-gradient(circle at 50% 50%, rgb(255, 255, 255) 25%, transparent 26%);
        background-repeat: no-repeat;
        border: 0.25em solid transparent;
        border-left: 0.4em solid #ffffff;
        border-right: 0 solid transparent;
        transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
        transform: translateX(-22.5%) rotate(90deg);
        transform-origin: 25% 50%;
        position: relative;
        top: 0.5em;
        left: 0.55em;
        width: 2em;
        height: 1em;
        box-sizing: border-box;
    }

    .chk:checked+.slider {
        background-color: limegreen;
    }

    .chk:focus+.slider {
        box-shadow: 0 0 1px limegreen;
    }

    .chk:checked+.slider:before {
        transform: translateY(2.3em);
    }

    .chk:checked+.slider:after {
        transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
    }
</style>